package ${pkgPrefix};

#set($dateImported = 0)
#set($bigDecimalImported = 0)
#foreach($item in $values)#if(${FMT.xyzAbc(${item.name})} != 'id' && ${FMT.xyzAbc(${item.name})} != 'gmtCreate' && ${FMT.xyzAbc(${item.name})} != 'gmtModified' && ${FMT.xyzAbc(${item.name})} != 'creator' && ${FMT.xyzAbc(${item.name})} != 'modifier' && ${FMT.xyzAbc(${item.name})} != 'isDeleted')
#if( ${item.type} == 'Date' && $dateImported == 0)
import java.util.Date;
#set($dateImported = 1)
#end
#if( ${item.type} == 'BigDecimal' && $bigDecimalImported == 0)
import java.math.BigDecimal;
#set($bigDecimalImported = 1)
#end
#end#end


import lombok.Data;
import lombok.EqualsAndHashCode;

import com.yuanpin.shared.entity.base.BaseEntity;

@EqualsAndHashCode(callSuper = false)
@Data
public class ${FMT.XyzAbc($table)} extends BaseEntity {

#foreach($item in $values)#if(${FMT.xyzAbc(${item.name})} != 'id' && ${FMT.xyzAbc(${item.name})} != 'gmtCreate' && ${FMT.xyzAbc(${item.name})} != 'gmtModified' && ${FMT.xyzAbc(${item.name})} != 'creator' && ${FMT.xyzAbc(${item.name})} != 'modifier' && ${FMT.xyzAbc(${item.name})} != 'isDeleted')
  private ${item.type} ${FMT.xyzAbc(${item.name})};
#end#end

}
