target
target/*
*~
bin
*.idea
*.iml
*.eml
.project
.settings
.classpath
/target
*/target/**
*.log
rebel.xml
antx.properties*
application.properties
blora.web/test-output
templates/genBatch.config
templates/template.sql
*/test-output
*.DS_Store
classes/
files-md5.properties
