/*bootstrap piece start*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
canvas {
    display: inline-block;
    vertical-align: baseline;
}
img {
    border: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 10px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
img {
    vertical-align: middle;
}
/*bootstrap piece end*/
#wrapper {
    width:100%;
    overflow:auto;
    background-color: white;
}
#picWrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.goodsPic{
    height:100%;
    background-color: white;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
@media (min-width: 300px) {
    .smallSize {
        font-size: smaller;
    }
    .mediumSize {
        font-size: small;
    }
    .largeSize {
        font-size: medium;
    }
}
@media (min-width: 370px) {
    .smallSize {
        font-size: small;
    }
    .mediumSize {
        font-size: medium;
    }
    .largeSize {
        font-size: large;
    }
}
@media (min-width: 410px) {
    .smallSize {
        font-size: small;
    }
    .mediumSize {
        font-size: medium;
    }
    .largeSize {
        font-size: larger;
    }
}
