<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false">
    <property name="COMMON_PATTERN"
              value="[%d{'MM-dd HH:mm:ss,SSS',GMT+8:00}] %-5p [%X{IP}][%X{OP}][%.10t] %logger{36}[%L] - %m%n" />
    <property name="LOG_CHARSET" value="UTF-8" />

    <appender name="CACHE" class="ch.qos.logback.core.FileAppender">
		<file>logs/cache.log</file>
        <append>false</append>
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="COMMON" class="ch.qos.logback.core.FileAppender">
		<file>logs/common.log</file>
        <append>false</append>
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="REDIS" class="ch.qos.logback.core.FileAppender">
        <file>logs/redis.log</file>
        <append>false</append>
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="ROCKETMQ" class="ch.qos.logback.core.FileAppender">
        <file>logs/rocketMQ.log</file>
        <append>false</append>
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="DB" class="ch.qos.logback.core.FileAppender">
        <filter class="com.yuanpin.nautybee.common.filter.DbNoConneInfoFilter" />
		<file>logs/db.log</file>
        <append>false</append>
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="ERROR" class="ch.qos.logback.core.FileAppender">
		<file>logs/error.log</file>
        <append>false</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="MONITOR" class="ch.qos.logback.core.FileAppender">
		<file>logs/monitor.log</file>
        <append>false</append>
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="SCHEDULE" class="ch.qos.logback.core.FileAppender">
		<file>logs/schedule.log</file>
        <append>false</append>
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="SPRING" class="ch.qos.logback.core.FileAppender">
		<file>logs/spring.log</file>
        <append>false</append>
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <logger name="com.ibatis" additivity="false">
		<level value="WARN" />
		<appender-ref ref="DB" />
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="com.yuanpin.nautybee">
		<level value="DEBUG" />
	</logger>
    <logger name="com.yuanpin.nautybee.dao" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="DB" />
		<appender-ref ref="ERROR" />
	</logger>
    <logger name="com.yuanpin.nautybee.filter.MonitorFilter" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="MONITOR" />
        <appender-ref ref="ERROR" />
	</logger>
    <logger name="com.yuanpin.nautybee.redis" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="REDIS" />
    </logger>
    <logger name="com.yuanpin.nautybee.mq" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="ROCKETMQ" />
    </logger>
	<logger name="java.sql" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="DB" />
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="java.sql.ResultSet" additivity="false">
		<level value="INFO" />
		<appender-ref ref="DB" />
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="net.sf.ehcache">
		<level value="ERROR" />
	</logger>
	<logger name="org.apache">
		<level value="WARN" />
	</logger>
    <logger name="org.apache.commons.beanutils.converters">
        <level value="ERROR" />
    </logger>
	<logger name="org.apache.velocity">
		<level value="INFO" />
	</logger>
	<logger name="org.mybatis.spring" additivity="false">
		<level value="INFO" />
		<appender-ref ref="SPRING" />
		<appender-ref ref="ERROR" />
	</logger>
    <logger name="org.quartz" additivity="false">
        <level value="info" />
        <appender-ref ref="SCHEDULE" />
        <appender-ref ref="ERROR" />
    </logger>
	<logger name="org.springframework" additivity="false">
		<level value="INFO" />
		<appender-ref ref="SPRING" />
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="org.springframework.security">
		<level value="ERROR" />
	</logger>
	<logger name="org.springframework.scheduling" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="SCHEDULE" />
		<appender-ref ref="ERROR" />
	</logger>
    <root level="debug">
        <appender-ref ref="COMMON" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ERROR" />
    </root>

</configuration>
