<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>加入我们</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/resources/view/css/wx/example.css}"/>
    <link rel="stylesheet" th:href="@{/resources/libs/css/weui/weui.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/view/css/company/joinUs.css}"/>
</head>
<body style="visibility: hidden">
<div style="width: 100%" id="main">
    <div id="wrapper">
        <div id="scroller">
            <div class="page__hd">
                <h1 class="page__title">武义小作家辅导中心</h1>
                <p class="page__desc">欢迎行业人才、优质机构的加入与合作</p>
            </div>
            <div class="page__bd">
                <article class="weui-article">
                    <h1>人才加入</h1>
                    <section>
                        <section>
                            <p>
                                　　常年搜查有创业愿景却没有平台、能吃苦耐劳却得不到回报、才高五斗却无用武之地、有公立学校编制却不想安于现状有勇气脱编的梦想合伙人，被录用后，你不仅仅是我们学校的教职员工，你更是学校的主人和合作伙伴。
                            </p>
                            <p>
                                　　职位：招生顾问、小学生写作教师、硬笔书法教师、各学科助教。高薪资、高待遇、你有多大潜力就有多大的发展空间，武义小作家辅导中心期待你的加入。
                            </p>
                        </section>
                    </section>
                    <h1>机构合作</h1>
                    <section>
                        <section>
                            <p>
                                　　专业的在线招生平台，为教育培训机构的生源提供有力的保障，欢迎入驻教育联盟招生公众号。
                            </p>
                            <p>
                                　　咨询电话：89076610
                            </p>
                        </section>
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">

</script>
<!-- Javascript -->
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" th:src="@{/resources/libs/js/jquery/jquery-2.1.4.min.js}"/>
<script type="text/javascript" th:src="@{/resources/common/utils.js}"/>
<script type="text/javascript" th:src="@{/resources/common/net.js}"/>
<script type="text/javascript" th:src="@{/resources/common/request.js}"/>
<script type="text/javascript" th:src="@{/resources/common/viewbase.js}"/>
<script type="text/javascript" th:src="@{/resources/libs/js/iscroll/iscroll-probe.js}"/>
<script type="text/javascript" th:src="@{/resources/view/js/company/joinUs.js?time=17}"/>
</body>
</html>