package com.yuanpin.blora.common.param.${FMT.xyzAbc(${table})};

import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.yuanpin.blora.common.param.PageParam;
import lombok.Data;

/**
 */

@Data
@JsonIgnoreProperties(ignoreUnknown=true)
public class ${FMT.XyzAbc(${table})}QueryParam extends PageParam {

#foreach($item in $values)
    ${FMT.echo("//")}${item.comment}
    private ${item.type} ${FMT.xyzAbc(${item.name})};
#end
}