package ${pkgPrefix};

import com.nautybit.nautybee.dao.base.BaseDao;
import com.nautybit.nautybee.dao.common.MyBatisRepository;
import ${entity_java_vm_pkgPrefix}.${FMT.XyzAbc($table)};

@MyBatisRepository
public interface ${FMT.XyzAbc($table)}Dao extends BaseDao<${FMT.XyzAbc($table)}> {


}
