<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "${dao_java_vm_pkgPrefix}.${FMT.XyzAbc($table)}Dao">

    <resultMap id = "BaseResultMap" type = "${entity_java_vm_pkgPrefix}.${FMT.XyzAbc($table)}"
               extends = "COMMON.BASE_RESULT_MAP">
#foreach($item in $values)#if($velocityCount > 6)
        <result column = "${item.name}" property = "${FMT.xyzAbc(${item.name})}" />
#end#end
    </resultMap>

    <sql id = "BaseWhereClause">
        <where>
            <trim prefixOverrides = "and">
                <include refid = "COMMON.BASE_WHERE_CLAUSE" />
#foreach($item in $values)#if(${FMT.xyzAbc(${item.name})} != 'id' && ${FMT.xyzAbc(${item.name})} != 'gmtCreate' && ${FMT.xyzAbc(${item.name})} != 'gmtModified' && ${FMT.xyzAbc(${item.name})} != 'creator' && ${FMT.xyzAbc(${item.name})} != 'modifier' && ${FMT.xyzAbc(${item.name})} != 'isDeleted')
                <if test = "${FMT.xyzAbc(${item.name})} != null">
                    and ${item.name} = #{${FMT.xyzAbc(${item.name})}}
                </if>
#if(${item.type}=='String' && ${item.atts.search} == 'pattern')
                <if test = "like${FMT.XyzAbc(${item.name})} != null">
                    and ${item.name} like CONCAT('%','${FMT.getDollar()}${FMT.echo("{")}like${FMT.XyzAbc(${item.name})}${FMT.echo("}")}','%') 
                </if>
#elseif((${item.type}=='Date' ||${item.type}=='Long' || ${item.type} == 'Integer') && ${item.atts.search} == 'range')
                <if test = "from${FMT.XyzAbc(${item.name})} != null">
<![CDATA[
                    and ${item.name} ${item.atts.from} #{from${FMT.XyzAbc(${item.name})}}
]]>
                </if>
                <if test = "to${FMT.XyzAbc(${item.name})} != null">
<![CDATA[
                    and ${item.name} ${item.atts.to} #{to${FMT.XyzAbc(${item.name})}}
]]>
                </if>
#end
#end#end
            </trim>
        </where>
    </sql>

    <sql id = "BaseUpdateSet">
        <set>
            <include refid = "COMMON.BASE_UPDATE_SET" />
#foreach($item in $values)#if(${FMT.xyzAbc(${item.name})} != 'id' && ${FMT.xyzAbc(${item.name})} != 'gmtCreate' && ${FMT.xyzAbc(${item.name})} != 'gmtModified' && ${FMT.xyzAbc(${item.name})} != 'creator' && ${FMT.xyzAbc(${item.name})} != 'modifier' && ${FMT.xyzAbc(${item.name})} != 'isDeleted')
            <if test = "${FMT.xyzAbc(${item.name})} != null">
                ${item.name} = #{${FMT.xyzAbc(${item.name})}}#if($velocityCount != $values.size()),#end

            </if>
#end#end
        </set>
    </sql>

    <!-- 查询总数 -->
    <select id = "selectCount" resultType = "java.lang.Integer">
        select count(id)
        from ${realTable}
        <include refid = "BaseWhereClause" />
    </select>

    <!-- 查询 -->
    <select id = "select" resultMap = "BaseResultMap">
        select
        <include refid = "COMMON.ALL_COLUMN_LIST" />
        from ${realTable}
        <include refid = "BaseWhereClause" />
        <include refid = "COMMON.ORDER_BY" />
        <include refid = "COMMON.PAGE" />
    </select>

    <!-- 根据ID查询 -->
    <select id = "selectById" resultMap = "BaseResultMap">
        select
        <include refid = "COMMON.ALL_COLUMN_LIST" />
        from ${realTable}
        where id = #{id}
    </select>

    <!-- 根据IDS批量删除 -->
    <update id = "deleteByIds">
        update ${realTable}
        set is_deleted='Y'
        where id in
        (
        <foreach collection = "array" index = "index" item = "tag" separator = ",">
            #{tag}
        </foreach>
        )
    </update>

    <!-- 根据ID删除 -->
    <update id = "deleteById">
        update ${realTable}
        set is_deleted='Y'
        where id=#{id}
    </update>

    <!-- 删除 -->
    <delete id = "delete">
        update ${realTable}
        set is_deleted='Y'
        <include refid = "BaseWhereClause" />
    </delete>

    <!-- 添加   -->
    <insert id = "insert" useGeneratedKeys = "true" keyProperty = "id">
        insert into ${realTable} (
        <include refid = "COMMON.BASE_INSERT_COLUMN" />
#foreach($item in $values)#if(${FMT.xyzAbc(${item.name})} != 'id' && ${FMT.xyzAbc(${item.name})} != 'gmtCreate' && ${FMT.xyzAbc(${item.name})} != 'gmtModified' && ${FMT.xyzAbc(${item.name})} != 'creator' && ${FMT.xyzAbc(${item.name})} != 'modifier' && ${FMT.xyzAbc(${item.name})} != 'isDeleted')
        ${item.name}#if($velocityCount != $values.size()),#end

#end#end
        )
        values (
        <include refid = "COMMON.BASE_INSERT_VALUE" />
#foreach($item in $values)#if(${FMT.xyzAbc(${item.name})} != 'id' && ${FMT.xyzAbc(${item.name})} != 'gmtCreate' && ${FMT.xyzAbc(${item.name})} != 'gmtModified' && ${FMT.xyzAbc(${item.name})} != 'creator' && ${FMT.xyzAbc(${item.name})} != 'modifier' && ${FMT.xyzAbc(${item.name})} != 'isDeleted')
        #{${FMT.xyzAbc(${item.name})}}#if($velocityCount != $values.size()),#end

#end#end
        )
    </insert>

    <!-- 通过ID更新 -->
    <update id = "updateById">
        update ${realTable}
        <include refid = "BaseUpdateSet" />
        where id = #{id}
    </update>

</mapper>
