<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>报名详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/resources/view/css/wx/example.css}"/>
    <link rel="stylesheet" th:href="@{/resources/libs/css/weui/weui.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/view/css/order/confirmOrder.css}"/>
</head>
<body style="visibility: hidden">
<div style="width: 100%" id="main">
    <div class="weui-toptips weui-toptips_warn js_tooltips" style="display: none;">错误提示</div>
    <div id="wrapper">
        <div class="page__hd" style="padding: 40px">
            <h1 class="page__title" id="goodsName" th:text="${goodsName}">周末写作班</h1>
            <p class="page__desc" style="color: #e64340" th:text="'¥'+${#numbers.formatDecimal(goodsPrice,1,2)}"></p>
        </div>
        <div class="page__bd">

            <div class="weui-cells__title">班别选择</div>
            <div class="weui-cells">

                <th:block th:if="${propLength==1}">
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label for="" class="weui-label">
                                <span style="color: red">*</span><span th:text="${propName}">班别</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <select class="weui-select" name="select" onchange="fillAttribute()">
                                <th:block th:each="entity : ${goodsViewList}">
                                    <option th:if="${entity.goodsNum &lt; 1}" th:value="${entity.id}" th:text="${entity.detailName1}+'（名额已满）'" disabled="true"></option>
                                    <option th:if="${entity.goodsNum &gt; 0}" th:value="${entity.id}" th:text="${entity.detailName1}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </th:block>


                <th:block th:if="${propLength==2}">
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label for="" class="weui-label">
                                <span style="color: red">*</span><span th:text="${propName1}">年级</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <select class="weui-select" name="select1" onchange="changeDetail1()">
                                <th:block th:each="entity : ${mainPropertyDetailList}">
                                    <option th:text="${entity.detailName}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label for="" class="weui-label">
                                <span style="color: red">*</span><span th:text="${propName2}">班别</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <select class="weui-select" name="select2" onchange="fillAttribute()">
                                <th:block th:each="entity : ${mainDetailGoodsListMap}">
                                    <th:block th:if="${entity.key == mainPropertyDetailList.get(0).detailName}">
                                        <th:block th:each="goodsView : ${entity.value}">
                                            <option th:if="${goodsView.goodsNum &lt; 1}" th:value="${goodsView.id}" th:text="${goodsView.detailName2}+'（名额已满）'" disabled="true"></option>
                                            <option th:if="${goodsView.goodsNum &gt; 0}" th:value="${goodsView.id}" th:text="${goodsView.detailName2}"></option>
                                        </th:block>
                                    </th:block>

                                </th:block>
                            </select>
                        </div>
                    </div>
                </th:block>
            </div>
            <label class="weui-cell weui-check__label" style="background-color: #ffffff">
                <div class="weui-cell__bd" id="attributes">
                    <!--<p>cell standard</p>-->
                </div>
            </label>
            <div class="weui-cells__title">学员信息</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label"><span style="color: red">*</span>姓名</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" id="studentName" placeholder="请输入姓名"/>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label"><span style="color: red">*</span>手机号</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="tel" id="contactMobile" placeholder="请输入手机号"/>
                    </div>
                </div>
                <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">是否在校</div>
                    <div class="weui-cell__ft">
                        <input class="weui-switch" type="checkbox" id="isAtSchoolSwitch" onchange="switchSchoolInfo(this)"/>
                    </div>
                </div>
                <div class="weui-cell school-info">
                    <div class="weui-cell__hd"><label class="weui-label">学校</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" id="schoolName" placeholder="请输入学校名称"/>
                    </div>
                </div>
                <div class="weui-cell school-info">
                    <div class="weui-cell__hd"><label class="weui-label">年级</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number" pattern="[0-9]*" id="schoolGrade" placeholder="请输入在校年级"/>
                    </div>
                </div>
                <div class="weui-cell school-info">
                    <div class="weui-cell__hd"><label class="weui-label">班级</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number" pattern="[0-9]*" id="schoolClass" placeholder="请输入在校班级"/>
                    </div>
                </div>
                <div class="weui-cell school-info">
                    <div class="weui-cell__hd"><label class="weui-label">班主任姓名</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" id="teacherName" placeholder="请输入班主任姓名"/>
                    </div>
                </div>
                <div class="weui-cell school-info">
                    <div class="weui-cell__hd"><label class="weui-label">班主任手机号</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="tel" id="teacherMobile" placeholder="请输入班主任手机号"/>
                    </div>
                </div>
            </div>




            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" href="javascript:" id="purchaseBtn">确定</a>
            </div>


            <div id="loadingToast" style="opacity: 1;display: none;">
                <div class="weui-mask_transparent"></div>
                <div class="weui-toast">
                    <i class="weui-loading weui-icon_toast"></i>
                    <p class="weui-toast__content">等待支付</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var gStoreId = [[${storeId}]];
    var gChainHeadId = [[${chainHeadId}]];
    var gGoodsPrice = [[${goodsPrice}]];
    var gPropLength = [[${propLength}]];
    var gPropName = [[${propName}]];
    var gGoodsViewList = [[${goodsViewList}]];
    var gPropName1 = [[${propName1}]];
    var gPropName2 = [[${propName2}]];
    var gMainPropertyDetailList = [[${mainPropertyDetailList}]];
    var gMainDetailGoodsListMap = [[${mainDetailGoodsListMap}]];
    /*]]>*/
</script>
<!-- Javascript -->
<script type="text/javascript" th:src="@{/resources/libs/js/jquery/jquery-2.1.4.min.js}"/>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
<script type="text/javascript" th:src="@{/resources/common/utils.js}"/>
<script type="text/javascript" th:src="@{/resources/common/net.js}"/>
<script type="text/javascript" th:src="@{/resources/common/request.js}"/>
<script type="text/javascript" th:src="@{/resources/common/viewbase.js}"/>
<script type="text/javascript" th:src="@{/resources/view/js/order/confirmOrder.js?time=23}"/>
</body>
</html>