<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>推荐风云榜</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/resources/view/css/wx/example.css}"/>
    <link rel="stylesheet" th:href="@{/resources/libs/css/weui/weui.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/view/css/wx/honorList.css?time=20}"/>
</head>
<body style="visibility: hidden">
<div style="width: 100%;font-size: 18px" id="main">
    <div id="wrapper">
        <div id="scroller">
            <div style="width: 100%">
                <img width="100%" src="../resources/images/biz/honorListBanner.jpg" />
            </div>
            <th:block th:each="entity : ${honorList}">
                <div class="weui-cell">
                    <div class="weui-cell__hd headimg" th:attr="data-original=${entity.headimgurl}" style="width:80px;height:80px;margin-right:5px"></div>
                    <div class="weui-cell__bd">
                        <p th:text="${entity.fromUserName}"></p>
                    </div>
                    <div class="weui-cell__ft" style="color: #f54545" th:text="'成功推荐'+${entity.dealNum}+'人'"></div>
                </div>
            </th:block>
            <!--<div class="weui-cell">-->
                <!--<div class="weui-cell__hd"><img src="../resources/images/biz/honorListBanner.jpg" alt="" style="width:80px;margin-right:5px;display:block"/></div>-->
                <!--<div class="weui-cell__bd">-->
                    <!--<p>李秋峦</p>-->
                <!--</div>-->
                <!--<div class="weui-cell__ft">已推荐（8）</div>-->
            <!--</div>-->
            <!--<div class="weui-cell">-->
                <!--<div class="weui-cell__hd"><img src="../resources/images/biz/honorListBanner.jpg" alt="" style="width:80px;margin-right:5px;display:block"/></div>-->
                <!--<div class="weui-cell__bd">-->
                    <!--<p>李秋峦</p>-->
                <!--</div>-->
                <!--<div class="weui-cell__ft">已推荐（8）</div>-->
            <!--</div>-->
            <!--<div class="weui-cell">-->
                <!--<div class="weui-cell__hd"><img src="../resources/images/biz/honorListBanner.jpg" alt="" style="width:80px;margin-right:5px;display:block"/></div>-->
                <!--<div class="weui-cell__bd">-->
                    <!--<p>李秋峦</p>-->
                <!--</div>-->
                <!--<div class="weui-cell__ft">已推荐（8）</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>
<!-- Javascript -->
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" th:src="@{/resources/libs/js/jquery/jquery-2.1.4.min.js}"/>
<script type="text/javascript" th:src="@{/resources/libs/js/jquery/jquery.clickstatus.js}"/>
<script type="text/javascript" th:src="@{/resources/common/utils.js}"/>
<script type="text/javascript" th:src="@{/resources/common/net.js}"/>
<script type="text/javascript" th:src="@{/resources/common/request.js}"/>
<script type="text/javascript" th:src="@{/resources/common/viewbase.js}"/>
<script type="text/javascript" th:src="@{/resources/libs/js/iscroll/iscroll-probe.js}"/>
<script type="text/javascript" th:src="@{/resources/libs/js/lazyload/jquery.lazyload.min.js}"/>
<script type="text/javascript" th:src="@{/resources/view/js/wx/honorList.js?time=21}"/>
</body>
</html>