<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>赢红包五步教程</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/resources/view/css/wx/example.css}"/>
    <link rel="stylesheet" th:href="@{/resources/libs/css/weui/weui.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/view/css/wx/recommendGuide.css?time=20}"/>
</head>
<body>
<div style="width: 100%;font-size: 18px;padding: 10px">
    <div style="width:100%;text-align: center;color: #f54545;padding: 6px 0">第一步：扫描二维码，关注武义小作家辅导中心公众号</div>
    <img width="100%" src="../resources/images/biz/account_code.jpg" />
    <div style="width:100%;text-align: center;color: #f54545;padding: 6px 0">第二步：点击“我的推荐码”，将生成的二维码通过截屏或长按保存的方式，发送给被推荐人或面对面扫码</div>
    <img width="100%" src="../resources/images/biz/recommendGuide/1.jpeg" />
    <img width="100%" src="../resources/images/biz/recommendGuide/2.jpeg" />
    <div style="width:100%;text-align: center;color: #f54545;padding: 6px 0">第三步：被推荐人扫描您的推荐码，关注并进入公众号，点击“选择课程”，并在课程列表页点击感兴趣的课程</div>
    <img width="100%" src="../resources/images/biz/recommendGuide/3.jpeg" />
    <img width="100%" src="../resources/images/biz/recommendGuide/4.jpeg" />
    <div style="width:100%;text-align: center;color: #f54545;padding: 6px 0">第四步：被推荐人点击“立即报名”，进入班级选择页面，填写个人信息，并点击“确定”</div>
    <img width="100%" src="../resources/images/biz/recommendGuide/5.jpeg" />
    <img width="100%" src="../resources/images/biz/recommendGuide/6.jpeg" />
    <div style="width:100%;text-align: center;color: #f54545;padding: 6px 0">最后一步：被推荐人在线付款，付款成功后，页面将跳转至被推荐人“我的课程页面”，报名成功！</div>
    <img width="100%" src="../resources/images/biz/recommendGuide/7.jpeg" />
    <img width="100%" src="../resources/images/biz/recommendGuide/8.jpeg" />
    <div style="width:100%;text-align: center;color: #f54545;padding: 6px 0">恭喜，系统已将推荐红包发送给您！同时您可在“我的推荐记录“或”推荐风云榜中”查看您的推荐记录</div>
    <img width="100%" src="../resources/images/biz/recommendGuide/11.jpeg" />
    <img width="100%" src="../resources/images/biz/recommendGuide/12.jpeg" />
    <div style="width:100%;text-align: center;color: #f54545;padding: 6px 0">快去赢红包吧！</div>
    <div style="width:100%;text-align: center;color: #f54545;padding: 6px 0">（写作二年级课程，每次推荐奖励150元红包，其他课程奖励100元红包）</div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>
<!-- Javascript -->
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" th:src="@{/resources/libs/js/jquery/jquery-2.1.4.min.js}"/>
<script type="text/javascript" th:src="@{/resources/libs/js/jquery/jquery.clickstatus.js}"/>
<script type="text/javascript" th:src="@{/resources/common/utils.js}"/>
<script type="text/javascript" th:src="@{/resources/common/net.js}"/>
<script type="text/javascript" th:src="@{/resources/common/request.js}"/>
<script type="text/javascript" th:src="@{/resources/common/viewbase.js}"/>
<script type="text/javascript" th:src="@{/resources/libs/js/lazyload/jquery.lazyload.min.js}"/>
<script type="text/javascript" th:src="@{/resources/view/js/wx/recommendGuide.js?time=22}"/>
</body>
</html>